---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#

- name: Restart runbg
  # service:
  #   name: runbg
  #   state: restarted
  # when: is_ish | bool
  debug:
    msg: "-->->  restarting service runbg  <-<--"

- name: Restart sshd
  # service:
  #   name: "{{ sshd_name }}"
  #   state: restarted
  # when: is_ish | bool
  debug:
    msg: "-->->  restarting service {{ sshd_name }}  <-<--"
