---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#

- name: Restart runbg
  include_tasks: ../tasks/restart_runbg.yml

- name: Restart sshd
  include_tasks: ../tasks/restart_sshd.yml
