[defaults]

stdout_callback = default
result_format = yaml
display_skipped_hosts = no
display_ok_hosts = no

inventory = inventory.ini

# dont ask to confirm hostkeys
accept_hostkey = True

# Use whatever happens to be python3
interpreter_python = auto_silent

# Display timings at end of play
callback_whitelist = profile_tasks

#
#  display cmd outpur in yaml
#
pipelining = True

# auto-accepting "Are you sure you want to continue connecting?"
host_key_checking = False

#
#  Caching of facts
#    Without caching, Gathering Facts would take 30s for each run
#    Display cache:  jq -r '.__payload__' /tmp/ansible_facts_cache/* | jq
#
gathering = smart
fact_caching = jsonfile
fact_caching_timeout = 86400
fact_caching_connection = /tmp/ansible_facts_cache
