---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
# Various Distro neutral /etc configs
#

- name: Configs /etc - Check if /etc/login.defs exists
  stat:
    path: /etc/login.defs
  register: all_distros_login_defs_stat

- name: Configs /etc - Set LOGIN_TIMEOUT in /etc/login.defs
  lineinfile:
    path: /etc/login.defs
    line: "LOGIN_TIMEOUT 0"
    insertafter: EOF
  when: all_distros_login_defs_stat.stat.exists
