---

#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
# Various Distro neutral /etc configs - for modern ansible
# understanding remote_src
#

# - name: Configs /etc - Set /etc/issue for iSH node
#   copy:
#     remote_src: true
#     dest: /etc/issue
#     content: >
#       This is an iSH node, running {{ ansible_facts.distribution }}
#       FS: ish-fstools: {{ vers_ift }}
#     owner: root
#     group: root
#     mode: '0644'

- name: Configs /etc - Install common config files
  copy:
    mode: preserve
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files/etc/{{ item }}"
    dest: "/etc/{{ item }}"
  loop:
    - environment
    - profile-hints

- name: Configs /etc - Copy /etc/skel
  copy:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files/etc/skel"
    dest: /etc
    owner: root
    group: root
    mode: '0644'

- name: Configs /etc - Installing no-pw sudoers group
  copy:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files/etc/sudoers.d/sudo_no_passwd"
    dest: /etc/sudoers.d
    owner: root
    group: root
    mode: '0644'
