---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Installs apps and files common to all distros.
#
#  Depending on b_remote_src this will use remote_src and copy from the already
#  synced repo on the target. This is significantly faster on really slow systems
#  like iSH, but does not always work on older ansibles, like the one used on Debian10
#  when doing a chrooted localhost deploy.
#  In somce cases triggering the error:
#    Remote copy does not support recursive copy of directory
#

- name: "Install some common config files --  remote_src"
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/etc/{{ item }}"
    dest: "/etc/{{ item }}"
  loop:
    - environment
    - profile-hints

- name: "Copy /etc/skel  --  {{ initial_prep_remote_src_lbl }}"
  copy:
    remote_src: "{{ not initial_prep_old_ansible }}"
    src: "{{ d_repo_all_distros_role }}/files/etc/skel"
    dest: /etc
    owner: root
    group: root
    mode: "0644"

- name: "Installing no-pw sudoers group --  remote_src"
  copy:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files/etc/sudoers.d/sudo_no_passwd"
    dest: /etc/sudoers.d
    owner: root
    group: root
    mode: "0644"

#
# Originated from common_apps.yml
#

- name: "Common apps - /usr/local/lib  --  {{ initial_prep_remote_src_lbl }}"
  copy:
    remote_src: "{{ not initial_prep_old_ansible }}"
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/usr_local_lib/"
    dest: /usr/local/lib/

- name: Deploy /usr/local/lib/ift-utils.sh with correct d_repo path
  template:
    # remote_src: true
    # src: "{{ d_repo_all_distros_role }}/templates/ift-utils.sh.js2"
    src: ift-utils.sh.js2
    dest: /usr/local/lib/ift-utils.sh
    owner: root
    group: root
    mode: "0755"

- name: "Common apps - /usr/local/bin  -- {{ initial_prep_remote_src_lbl }}"
  copy:
    remote_src: "{{ not initial_prep_old_ansible }}"
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/

- name: "Common apps - /usr/local/sbin  --  {{ initial_prep_remote_src_lbl }}"
  copy:
    remote_src: "{{ not initial_prep_old_ansible }}"
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/usr_local_sbin/"
    dest: /usr/local/sbin/

- name: "Install service - runbg --  remote_src"
  copy:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files{{ d_init_d }}/runbg"
    dest: "{{ d_init_ift }}/"
    owner: root
    group: root
    mode: "0755"
  notify: Restart runbg
