---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Installs apps and files common to all distros.
#
#  Old style file copy from Control node over the network, for older ansibles
#  That can not use remote src and folders
#

- name: Install some common config files  ---  slow old-style
  copy:
    mode: preserve
    src: "files/etc/{{ item }}"
    dest: "/etc/{{ item }}"
  loop:
    - environment
    - profile-hints

- name: Copy /etc/skel  ---  slow old-style
  copy:
    src: "files/etc/skel"
    dest: /etc
    owner: root
    group: root
    mode: '0644'

- name: Installing no-pw sudoers group  ---  slow old-style
  copy:
    src: "files/etc/sudoers.d/sudo_no_passwd"
    dest: /etc/sudoers.d
    owner: root
    group: root
    mode: '0644'

#
# Originated from common_apps.yml
#

- name: Install extras to /usr/local/lib  ---  slow old-style
  copy:
    mode: preserve
    src: "files/usr_local_lib/"
    dest: /usr/local/lib/

- name: Deploy /usr/local/lib/ift-utils.sh with correct d_repo path   ---  slow old-style
  template:
    src: ift-utils.sh.js2
    dest: /usr/local/lib/ift-utils.sh
    mode: '0755'

- name: Install extras to  /usr/local/bin  ---  slow old-style
  copy:
    mode: preserve
    src: files/usr_local_bin/
    dest: /usr/local/bin/

- name: Install extras to  /usr/local/sbin  ---  slow old-style
  copy:
    mode: preserve
    src: "files/usr_local_sbin/"
    dest: /usr/local/sbin/

- name: Install service - runbg  ---  slow old-style
  copy:
    src: "files{{ d_init_d }}/runbg"
    dest: "{{ d_init_ift }}/"
    owner: root
    group: root
    mode: '0755'

#
# The following are Alpine specific, located here to avoid having to split new and
# old style file copying more than once
#

- name: Alpine - Deploy /etc/inittab  ---  slow old-style
  copy:
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/etc/inittab"
    dest: /etc/
  when: ansible_facts.os_family == 'Alpine'

- name: Alpine - Install extras to /usr/local/bin  ---  slow old-style
  copy:
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/
  when: ansible_facts.os_family == 'Alpine'

- name: Alpine - Install extras to /usr/local/sbin  ---  slow old-style
  copy:
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/usr_local_sbin/"
    dest: /usr/local/sbin/
  when: ansible_facts.os_family == 'Alpine'

- name: Alpine - sshd - custom service script, supporting iSH logging  ---  slow old-style
  copy:
    src: "{{ d_repo_alpine_role }}/files/etc/init.d/sshd"
    dest: "{{ d_init_ift }}/{{ sshd_name }}"
    owner: root
    group: root
    mode: "0755"
  when: ansible_facts.os_family == 'Alpine'

- name: How files were copied  ---  slow old-style
  debug:
    msg: "*****   Files copied using OLD copy   *****"
  run_once: true
