---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Installs apps and files common to all distros.
#
#  Depending on b_remote_src this will use remote_src and copy from the already
#  synced repo on the target. This is significantly faster on really slow systems
#  like iSH, but does not always work on older ansibles, like the one used on Debian10
#  when doing a chrooted localhost deploy.
#  In somce cases triggering the error:
#    Remote copy does not support recursive copy of directory
#

- name: Define all_distros_copy_style
  set_fact:
    all_distros_copy_style: "{{ 'slow old-style' if old_ansible else 'remote_src' }}"

- name: Install some common config files
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/etc/{{ item }}"
    dest: "/etc/{{ item }}"
  loop:
    - environment
    - profile-hints

- name: "Copy /etc/skel  --  {{ all_distros_copy_style }}"
  copy:
    remote_src: "{{ not old_ansible }}"
    src: "{{ d_repo_all_distros_role }}/files/etc/skel"
    dest: /etc
    owner: root
    group: root
    mode: "0644"

- name: Installing no-pw sudoers group
  copy:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files/etc/sudoers.d/sudo_no_passwd"
    dest: /etc/sudoers.d
    owner: root
    group: root
    mode: "0644"

#
# Originated from common_apps.yml
#

- name: "Common apps - Install extras to /usr/local/lib  --  {{ all_distros_copy_style }}"
  copy:
    remote_src: "{{ not old_ansible }}"
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/usr_local_lib/"
    dest: /usr/local/lib/

- name: Deploy /usr/local/lib/ift-utils.sh with correct d_repo path
  template:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/templates/ift-utils.sh.js2"
    dest: /usr/local/lib/ift-utils.sh
    owner: root
    group: root
    mode: "0755"

- name: "Common apps - Install extras to  /usr/local/bin  -- {{ all_distros_copy_style }}"
  copy:
    remote_src: "{{ not old_ansible }}"
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/

- name: "Common apps - Install extras to  /usr/local/sbin  --  {{ all_distros_copy_style }}"
  copy:
    remote_src: "{{ not old_ansible }}"
    mode: preserve
    src: "{{ d_repo_all_distros_role }}/files/usr_local_sbin/"
    dest: /usr/local/sbin/

- name: Install service - runbg
  copy:
    remote_src: true
    src: "{{ d_repo_all_distros_role }}/files{{ d_init_d }}/runbg"
    dest: "{{ d_init_ift }}/"
    owner: root
    group: root
    mode: "0755"
  notify: Restart runbg

#
# The following are Alpine specific, located here to avoid having to split new and
# old style file copying more than once
#

- name: Alpine - sshd - custom service script, supporting iSH logging
  copy:
    remote_src: true
    src: "{{ d_repo_alpine_role }}/files/etc/init.d/sshd"
    dest: "{{ d_init_ift }}/sshd"
    owner: root
    group: root
    mode: "0755"
  when: ansible_facts.os_family == 'Alpine'
  notify: Restart sshd

- name: Alpine - Deploy /etc/inittab
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/etc/inittab"
    dest: /etc/
  when: ansible_facts.os_family == 'Alpine'

- name: Alpine - Install extras to /usr/local/bin
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/
  when: ansible_facts.os_family == 'Alpine'

- name: Alpine - Install extras to /usr/local/sbin
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/usr_local_sbin/"
    dest: /usr/local/sbin/
  when: ansible_facts.os_family == 'Alpine'

#
#  Debian specific file copying
#

- name: Debian - ssh - custom service script, supporting iSH logging
  copy:
    remote_src: true
    src: "{{ d_repo_debian_role }}/files/etc/init.d/sshd"
    dest: "{{ d_init_ift }}/sshd"
    owner: root
    group: root
    mode: "0755"
  when: ansible_facts.os_family == 'Debian'
  notify: Restart sshd

- name: Debian - /etc/init.d/rc
  copy:
    remote_src: true
    src: "{{ d_repo_debian_role }}/files/etc/init.d/rc"
    dest: "{{ d_init_ift }}/rc"
    owner: root
    group: root
    mode: "0755"
  when: ansible_facts.os_family == 'Debian'

- name: "Debian - Install extras to /usr/local/bin  -- {{ all_distros_copy_style }}"
  copy:
    remote_src: "{{ not old_ansible }}"
    mode: preserve
    src: "{{ d_repo_debian_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/
  when: ansible_facts.os_family == 'Debian'

- name: "Debian - Install extras to /usr/local/sbin  -- {{ all_distros_copy_style }}"
  copy:
    remote_src: "{{ not old_ansible }}"
    mode: preserve
    src: "{{ d_repo_debian_role }}/files/usr_local_sbin/"
    dest: /usr/local/sbin/
  when: ansible_facts.os_family == 'Debian'
