---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  All distros task
#

- name: Run verify_shell_exists.yml
  include_tasks: verify_shell_exists.yml
  when: ift_shell | default('') | length > 0

- name: Copy files, method depending on Alpine used
  include_tasks: file_copy_dynamic.yml

- name: Run set_hostname.yml
  import_tasks: set_hostname.yml

- name: Configs for /etc
  import_tasks: etc_configs.yml

- name: Run timezone.yml
  import_tasks: timezone.yml
  when: ift_timezone | default('') | length > 0

- name: Run services.yml
  import_tasks: services.yml

- name: Run user_account.yml
  include_tasks: user_account.yml
  when: ift_user_name | default('') | length > 0

- name: Run root_shell.yml
  include_tasks: root_shell.yml
  when: ift_shell | default('') | length > 0

- name: Copy /etc/skel files to root home (without overwrite)
  command: cp -ru /etc/skel/. /root/
  args:
    creates: /root/.profile # or any file you expect from skel

- name: "Enable launcher on iSH: {{ f_app_ift_launcher }}"
  shell:
    cmd: |
      set -o pipefail
      ex_code=0
      tmp_file=$(mktemp)
      config-ift -l > "$tmp_file" | exit 1
      if grep -qv "{{ f_app_ift_launcher }}" "$tmp_file"; then
          {{ f_app_ift_config }} -l ift | exit 2
          ex_code=43
      fi
      rm -f "$tmp_file"
      exit "$ex_code"
  args:
    executable: /bin/bash
  when: is_ish | default(false)
  register: all_distros_launcher
  changed_when: all_distros_launcher.rc == 43
  failed_when: all_distros_launcher.rc not in [0, 43]

- name: "Set chroot default command: {{ f_app_ift_launcher }}"
  copy:
    dest: /.chroot_default_cmd
    content: "{{ f_app_ift_launcher }}\n"
    owner: root
    group: root
    mode: "0644"
  when: not is_ish | default(false)

- name: "Rename Distro bins -> name.ORG if found, and softlink iSH replacement"
  #
  #  Minimizes risk of orig bin being run, whilst still making it available
  #
  shell:
    cmd: |
      set -o pipefail
      ex_code=0
      hide_bins=(
          /bin/hostname
          /sbin/halt
          /sbin/shutdown
          /usr/bin/logger
          # /usr/bin/uptime - needed for replacement uptime!
      )
      for hide_bin in "${hide_bins[@]}"; do
          [[ -L "$hide_bin" ]] && [[ $(realpath "$hide_bin") != /bin/busybox  ]] && {
            continue # already linked to ours
          }
          if [[ -f "$hide_bin" ]]; then
              mv "$hide_bin" "${hide_bin}.ORG" || exit 1
              d_location="$(dirname "$hide_bin")"
              b_name="$(basename "$hide_bin")"
              case "$d_location" in
                  /bin | /usr/bin) d_our_location=/usr/local/bin ;;
                  /sbin | /usr/sbin) d_our_location=/usr/local/sbin ;;
                  *)
                      echo "Unknown path: $d_location"
                      exit 1
                      ;;
              esac
              f_our_bin="$d_our_location/$b_name"
              if [[ -f "$f_our_bin" ]]; then
                  ln -sf "$f_our_bin" "$hide_bin" || exit 2
              else
                  echo "Unknown alt bin: $f_our_bin"
                  exit 1
              fi
              ex_code=43
          fi
      done
      exit "$ex_code"
  args:
    executable: /bin/bash
  when: ansible_facts.os_family == 'Alpine'
  register: all_distros_bin_replacement
  changed_when: all_distros_bin_replacement.rc == 43
  failed_when: all_distros_bin_replacement.rc not in [0, 43]
