---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Installs basic sshd service
#

- name: " sshd - Ensure /etc/ssh/sshd_config.d exists"
  file:
    path: /etc/ssh/sshd_config.d
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: " sshd - Install Ansible sshd_config"
  template:
    src: sshd_config-ansible.js2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0755"
  notify: Restart sshd
  when: ansible_facts.os_family == 'Alpine'

- name: " sshd - Install Debian sshd_config"
  template:
    src: sshd_config-deb10.js2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0755"
  notify: Restart sshd
  when: ansible_facts.os_family == 'Debian'

- name: " sshd - Create symbolic link in /etc/init.d"
  file:
    src: "{{ d_init_ift }}/sshd"
    dest: "{{ d_init_d }}/sshd"
    state: link
  notify: Restart sshd

# - name: " sshd - Ensure AcceptEnv is set as required"
#   lineinfile:
#     path: /etc/ssh/sshd_config
#     regexp: '^AcceptEnv\s+LANG\s+TERM_\*\s+LC_\*\s+XPC_\*$'
#     line: "AcceptEnv LANG TERM_* LC_* XPC_*"
#     state: present
#     insertafter: EOF
#     create: false
#   notify: Restart sshd

# - name: " sshd - Ensure SSH port is set to {{ ift_port_sshd | default(2022) }}"
#   lineinfile:
#     path: /etc/ssh/sshd_config
#     regexp: '^Port\s+{{ ift_port_sshd | default(2022) }}(\s|$)'
#     line: "Port {{ ift_port_sshd | default(2022) }}  # Defined by ish-fstools"
#     state: present
#     insertafter: EOF
#     create: false
#   notify: Restart sshd

- name: "Set runlevel for sshd"
  include_tasks: tasks/service_runlevel_set.yml # should be include
  vars:
    srvc_name: "{{ d_init_d }}/sshd"
    srvc_runlevel: "{{ ift_runlevel_sshd }}"
    srvc_handler: Restart sshd
