---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Installs runbg service
#

- name: " runbg - Create symbolic link in /etc/init.d"
  file:
    src: "{{ d_init_ift }}/runbg"
    dest: "{{ f_service_runbg }}"
    state: link
  notify: Restart runbg

- name: Set runlevel for runbg
  include_tasks: tasks/service_runlevel_set.yml
  vars:
    srvc_name: "runbg"
    srvc_runlevel: "{{ ift_runlevel_runbg }}"
    srvc_handler: Restart runbg
