---

#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Installs basic sshd service
#

- name: " sshd - Create symbolic link in /etc/init.d"
  file:
    src: "{{ d_init_ift }}/{{ sshd_name }}"
    dest: "{{ d_init_d }}/{{ sshd_name }}"
    state: link

- name: " sshd - Set /etc/ssh/sshd_config Port: {{ ift_port_sshd | default(2022) }}"
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^\#Port '
    line: 'Port {{ ift_port_sshd | default(2022) }}  # Defined by ish-fstools'
  when: ift_port_sshd is defined and ift_port_sshd != ""

- name: " sshd - Set /etc/ssh/sshd_config AcceptEnv"
  lineinfile:
    path: /etc/ssh/sshd_config
    # regexp: '^\#Port '
    line: 'AcceptEnv LANG TERM_* LC_* XPC_*'

- name: "Set runlevel for sshd"
  include_tasks: tasks/service_runlevel_set.yml
  vars:
    srvc_name: "{{ d_init_d }}/{{ sshd_name }}"
    srvc_runlevel: "{{ ift_runlevel_sshd }}"
