---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Verify shell exists
#

- name: "Show ift_shell"
  debug:
    msg: "{{ ift_shell }}"
  run_once: true

- name: Check if requested shell exists
  stat:
    path: "{{ ift_shell }}"
  when:
    - ift_shell | default('') | length > 0
  register: all_distros_shell_path

- name: Abort if requested shell does not exist
  fail:
    msg: "Shell defined in ift_shell does not exist: {{ ift_shell }}"
  when:
    - ift_shell | default('') | length > 0
    - not all_distros_shell_path.stat.exists
