---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Detects if this is running on iSH
#

- name: Check for /proc/ish
  stat:
    path: /proc/ish
  when: is_ish is not defined
  register: ish_proc

- name: Set is_ish fact
  set_fact:
    is_ish: "{{ ish_proc.stat.exists }}"
  when: is_ish is not defined

- name: Was iSH  detected
  debug:
    msg: "         is_ish: {{ is_ish }}"
  changed_when: true
  when: is_ish
