---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#

- name: " pre-task - Set old_andsible if this is Ansible < 2.8"
  set_fact:
    old_ansible: >-
      {{ ansible_version.major < 2
        or (ansible_version.major == 2
            and ansible_version.minor < 8) }}

- name: " pre-task - Check if this is old Ansible"
  debug:
    msg: "         old_ansible: {{ old_ansible }}"
  changed_when: true
  when: old_ansible or (ift_show_extra_status | default(false))

- name: " pre-task - Check if this is iSH"
  include_tasks: tasks/is_ish.yml
  when: is_ish is not defined

#
#  Handle overrides, needs to be done as a task instead of inside a role,
#  in order to be able to set global variables without linting errors
#
#
#  Process vars/overrides.yml
#
- name: " pre-task - Check if override file exists"
  stat:
    path: vars/overrides.yml
  delegate_to: localhost
  run_once: true
  register: overrides_file

- name: " pre-task - Read overrides file"
  set_fact:
    __override_raw: "{{ lookup('file', 'vars/overrides.yml') }}"
  delegate_to: localhost
  run_once: true
  when: overrides_file.stat.exists

- name: " pre-task - Parse override vars"
  set_fact:
    __override_vars: >-
      {{
        (__override_raw | from_yaml)
          if (__override_raw | trim) != ''
          else {}
      }}
  delegate_to: localhost
  run_once: true
  when: __override_raw is defined

- name: " pre-task - Extend ift_alpine_packages with extra packages"
  set_fact:
    ift_alpine_packages: >-
      {{ (ift_alpine_packages | default([])) +
         (__override_vars.ift_extra_alpine_packages | default([])) }}
  delegate_to: localhost
  run_once: true
  when:
    - __override_vars is defined
    - ansible_facts.os_family == 'Alpine'

- name: " pre-task - Extend ift_debian_packages with extra packages"
  set_fact:
    ift_debian_packages: >-
      {{ (ift_debian_packages | default([])) +
         (__override_vars.ift_extra_debian_packages | default([])) }}
  delegate_to: localhost
  run_once: true
  when:
    - __override_vars is defined
    - ansible_facts.os_family == 'Debian'

- name: " pre-task - Apply overrides"
  set_fact:
    "{{ item.key }}": "{{ item.value }}"
  delegate_to: localhost
  run_once: true
  loop: "{{ __override_vars | dict2items }}"
  when: __override_vars is defined

#
# Repo specific configs, should happen after overrides are processed
#
- name: " pre-task - Handle Ansible specific configs"
  include_tasks: pre_tasks_ansible.yml
  when: ansible_facts.os_family == 'Alpine'

- name: " pre-task - Handle Debian specific configs"
  include_tasks: pre_tasks_debian.yml
  when: ansible_facts.os_family == 'Debian'
