---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#

# Must be first task in order for everything else to use the overrides
- name: " pre-task - Handle vars/overrides.yml"
  include_tasks: tasks/pre_tasks_overrides.yml

- name: " pre-task - Check if this is iSH"
  # Might depend on some overrides
  include_tasks: tasks/is_ish.yml
  when: is_ish is not defined

- name: " pre-task - Set old_andsible if this is Ansible < 2.8"
  set_fact:
    old_ansible: >-
      {{ ansible_version.major < 2
        or (ansible_version.major == 2
            and ansible_version.minor < 8) }}

- name: " pre-task - Check if this is old Ansible"
  debug:
    msg: "         old_ansible: {{ old_ansible }}"
  changed_when: ift_show_extra_status | default(false)
  when: old_ansible or (ift_show_extra_status | default(false))

#
# Repo specific configs, should happen after overrides are processed
#
- name: " pre-task - Handle Ansible specific configs"
  include_tasks: pre_tasks_ansible.yml
  when: ansible_facts.os_family == 'Alpine'

- name: " pre-task - Handle Debian specific configs"
  include_tasks: pre_tasks_debian.yml
  when: ansible_facts.os_family == 'Debian'
