---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Handle overrides, needs to be done as a task instead of inside a role,
#  in order to be able to set global variables without linting errors
#

- name: Check if this is iSH
  include_tasks: tasks/is_ish.yml
  when: is_ish is not defined

- name: Debian env - overrides for global vars
  set_fact:
    ift_shell: /bin/bash
    sshd_name: ssh
  when: ansible_facts.os_family == 'Debian'

- name: Check if override file exists
  stat:
    path: vars/overrides.yml
  delegate_to: localhost
  run_once: true
  register: overrides_file

- name: Read overrides file
  set_fact:
    __override_raw: "{{ lookup('file', 'vars/overrides.yml') }}"
  delegate_to: localhost
  run_once: true
  when: overrides_file.stat.exists

- name: Parse override vars
  set_fact:
    __override_vars: >-
      {{
        (__override_raw | from_yaml)
          if (__override_raw | trim) != ''
          else {}
      }}
  delegate_to: localhost
  run_once: true
  when: __override_raw is defined

- name: Extend ift_alpine_packages with extra packages
  set_fact:
    ift_alpine_packages: >-
      {{ (ift_alpine_packages | default([])) +
         (__override_vars.ift_extra_alpine_packages | default([])) }}
  delegate_to: localhost
  run_once: true
  when: __override_vars is defined

- name: Apply overrides
  set_fact:
    "{{ item.key }}": "{{ item.value }}"
  delegate_to: localhost
  run_once: true
  loop: "{{ __override_vars | dict2items }}"
  when: __override_vars is defined

- name: Add pkgs for Alpine >= 3.17
  set_fact:
    ift_alpine_packages: >-
      {{ ift_alpine_packages | union(ift_alpine_pkgs_min_317 | default([])) }}
  when:
    - ansible_facts.distribution_version >= "3.17"
  delegate_to: localhost
  run_once: true
  changed_when: false

- name: Add pkgs for Alpine >= 3.20
  set_fact:
    ift_alpine_packages: >-
      {{ ift_alpine_packages | union(ift_alpine_pkgs_min_320 | default([])) }}
    ift_alpine_pkgs_linting: >-
      {{ ift_alpine_pkgs_linting | union(ift_alpine_pkgs_lint_min_320 | default([])) }}
  when:
    - ansible_facts.distribution_version >= "3.20"
  delegate_to: localhost
  run_once: true
  changed_when: false

- name: Add pkgs for Alpine >= 3.23
  set_fact:
    ift_alpine_pkgs_linting: >-
      {{ ift_alpine_pkgs_linting | union(ift_alpine_pkgs_lint_min_323 | default([])) }}
  when:
    - ansible_facts.distribution_version >= "3.23"
  delegate_to: localhost
  run_once: true
  changed_when: false

- name: "Add dev apks when ift_pkgs_devel is true"
  set_fact:
    ift_alpine_packages: >-
      {{ ift_alpine_packages | union(ift_alpine_pkgs_devel | default([])) }}
  when:
    - ift_alpine_pkgs_devel | default('') | length > 0
    - ift_pkgs_devel is defined and ift_pkgs_devel
  delegate_to: localhost
  run_once: true
  changed_when: false

- name: "Add linting apks when ift_pkgs_linting is true"
  set_fact:
    ift_alpine_packages: >-
      {{ ift_alpine_packages | union(ift_alpine_pkgs_linting | default([])) }}
  when:
    - ift_alpine_pkgs_linting | default('') | length > 0
    - ift_pkgs_linting is defined and ift_pkgs_linting
  delegate_to: localhost
  run_once: true
  changed_when: false

- name: Add docs to ift_alpine_packages if ift_pkgs_man is true
  set_fact:
    ift_alpine_packages: "{{ ift_alpine_packages + ['docs'] }}"
  when: ift_pkgs_man | bool
  delegate_to: localhost
  run_once: true
  changed_when: false
