---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Handle overrides, needs to be done as a task instead of inside a role,
#  in order to be able to set global variables without linting errors
#

- name: Set old_andsible if this is Ansible < 2.8
  set_fact:
    old_ansible: >-
      {{ ansible_version.major < 2
        or (ansible_version.major == 2
            and ansible_version.minor < 8) }}

- name: Check if this is iSH
  include_tasks: tasks/is_ish.yml
  when: is_ish is not defined

- name: Debian env - overrides for global vars
  set_fact:
    ift_shell: /bin/bash
  when: ansible_facts.os_family == 'Debian'

#
#  Process vars/overrides.yml
#
- name: Check if override file exists
  stat:
    path: vars/overrides.yml
  delegate_to: localhost
  run_once: true
  register: overrides_file

- name: Read overrides file
  set_fact:
    __override_raw: "{{ lookup('file', 'vars/overrides.yml') }}"
  delegate_to: localhost
  run_once: true
  when: overrides_file.stat.exists

- name: Parse override vars
  set_fact:
    __override_vars: >-
      {{
        (__override_raw | from_yaml)
          if (__override_raw | trim) != ''
          else {}
      }}
  delegate_to: localhost
  run_once: true
  when: __override_raw is defined

- name: Extend ift_alpine_packages with extra packages
  set_fact:
    ift_alpine_packages: >-
      {{ (ift_alpine_packages | default([])) +
         (__override_vars.ift_extra_alpine_packages | default([])) }}
  delegate_to: localhost
  run_once: true
  when:
    - __override_vars is defined
    - ansible_facts.os_family == 'Alpine'

- name: Extend ift_debian_packages with extra packages
  set_fact:
    ift_debian_packages: >-
      {{ (ift_debian_packages | default([])) +
         (__override_vars.ift_extra_debian_packages | default([])) }}
  delegate_to: localhost
  run_once: true
  when:
    - __override_vars is defined
    - ansible_facts.os_family == 'Debian'

- name: Apply overrides
  set_fact:
    "{{ item.key }}": "{{ item.value }}"
  delegate_to: localhost
  run_once: true
  loop: "{{ __override_vars | dict2items }}"
  when: __override_vars is defined

#
# Repo specific configs, should happen after overrides are processed
#
- name: Handle Ansible specific configs
  include_tasks: pre_tasks_ansible.yml
  when: ansible_facts.os_family == 'Alpine'

- name: Handle Debian specific configs
  include_tasks: pre_tasks_debian.yml
  when: ansible_facts.os_family == 'Debian'
