---

#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Ensures service is only in the intended runlevel
#
#  Variables required:
#     srvc_name     - name of service
#     srvc_runlevel - runlevel intended, if empty or unset, srvc will not be active
#

- name: "Service runlevel - Fail if srvc_name is not defined"
  fail:
    msg: "No service defined. Please set srvc_name variable."
  when: srvc_name is not defined or srvc_name | length == 0

- name: "Ensure desired service runlevel for {{ srvc_name }}"
  shell: |
    set -o pipefail
    changed=0

    # Remove from undesired runlevels
    for rl in $(rc-status -l); do
        [ "$rl" = "{{ srvc_runlevel }}" ] && continue
        if rc-status "$rl" | grep -qw "{{ srvc_name }}"; then
            rc-update del "{{ srvc_name }}" "$rl" || exit 1
            echo "removed from: $rl"
            changed=43
        fi
    done

    # Ensure in desired runlevel
    if ! rc-update show "{{ srvc_runlevel }}" | grep -q "$(basename {{ srvc_name }})"; then
        rc-update add "{{ srvc_name }}" "{{ srvc_runlevel }}" || exit 2
        echo "added to {{ srvc_runlevel }}"
        changed=43
    fi

    exit $changed
  args:
    executable: /bin/bash
  register: srvc_runlevel_ensure
  changed_when: srvc_runlevel_ensure.rc == 43
  failed_when: srvc_runlevel_ensure.rc not in [0,43]

# rc-update del sshd default
# rc-status default
