---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Update version reported by ift-versions and /etc/motd
#

- name: Configs Set /etc/ish-fstools-release - {{ vers_ift }}
  #
  # Do this as late as possible, to only indicate the current
  # version once deploy is done
  #
  shell:
    cmd: |
      f_rel_vers=/etc/ish-fstools-release

      input=$(cat "$f_rel_vers")
      old_vers_ift=${input%% - *}
      rest=${input#* - }
      [ "$old_vers_ift" = "$rest" ] && rest=""

      if [ "$old_vers_ift" != "{{ vers_ift }}" ]; then
          s="{{ vers_ift }}"
          if [ -n "$rest" ]; then
              s="$s - $rest"
          fi
          echo "$s" >"$f_rel_vers" || exit 30
          /usr/local/sbin/update-motd
          exit 43
      fi
  args:
    executable: /bin/bash
  register: all_distros_rel_vers
  changed_when: all_distros_rel_vers.rc == 43
  failed_when: all_distros_rel_vers.rc not in [0, 43]
