---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Install selected Debian apps
#

- name: List what will be installed
  debug:
    msg: "{{ ift_debian_packages | sort }}"
  run_once: true

- name: Remove packages listed in ift_debian_purges
  package:
    state: absent
    name: "{{ ift_debian_purges }}"

- name: Install selected packages
  package:
    state: present
    name: "{{ ift_debian_packages }}"

- name: Install openssh tarball in /opt
  unarchive:
    src: "{{ ift_openssh_tgz }}"
    dest: /
    remote_src: true

- name: Install abduco tarball in /usr/local
  unarchive:
    src: "{{ ift_abduco_tgz }}"
    dest: /
    remote_src: true

- name: "Install extras to /usr/local/bin  -- {{ initial_prep_remote_src_lbl }}"
  copy:
    remote_src: "{{ not initial_prep_old_ansible }}"
    mode: preserve
    src: "{{ d_repo_debian_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/

- name: "Install extras to /usr/local/sbin  -- {{ initial_prep_remote_src_lbl }}"
  copy:
    remote_src: "{{ not initial_prep_old_ansible }}"
    mode: preserve
    src: "{{ d_repo_debian_role }}/files/usr_local_sbin/"
    dest: /usr/local/sbin/
