---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Role: Setup Debian
#

- name: Run apps_debian
  import_tasks: apps_debian.yml
