---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Role: Setup Debian
#

- name: Run apps_debian
  import_tasks: apps_debian.yml

- name: Generate required locales
  locale_gen:
    name: "{{ item }}"
    state: present
  with_items: "{{ ift_locales }}"

- name: Link the fake init to /sbin/init
  file:
    src: /usr/local/sbin/fake-init
    dest: /sbin/init
    state: link
