---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Role: Setup Debian
#

- name: Run apps_debian
  import_tasks: apps_debian.yml

- name: Ensure en_GB.UTF-8 locale is generated (Debian/Ubuntu)
  ansible.builtin.locale_gen:
    name: en_GB.UTF-8
    state: present
  when: ansible_facts.os_family == "Debian"
