---

#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
# Variables for Debian 10 FS
#

ift_debian_packages:
  #
  #  Shells
  #
  - bash  # The GNU Bourne Again shell
  - bash-completion  # Command-line tab-completion for bash
  - zsh  # Very advanced and programmable command interpreter (shell)

  #
  #  Core utils
  #
  - coreutils # The basic file, shell and text manipulation utilities
  - diffutils # Show differences among files
  - file      # File type identification utility
  - findutils # GNU utilities for finding files
  - gawk      # GNU awk pattern-matching language
  - git       # Distributed version control system
  - fzf  # A command-line fuzzy finder - rather slow on iSH - is it meaningful?
  - jq  # Lightweight and flexible command-line JSON processor
  - mc        # Filemanager/shell that emulates Norton Commander
  - pigz      # Parallel implementation of gzip
  - psmisc    # set of some small useful utilities that use the proc filesystem
              # provides a full pstree vs the basic BusyBox implementation.
  - ripgrep  # Fast recursive searcher with regex, respects .gitignore, grep-like.
  - rsync     # A file transfer program to keep remote files in sync

  #
  #  Access
  #
  - sudo  # Give certain users the ability to run some commands as root
  - locales  # Locales support
  - gettext  # GNU locale utilities
  - tzdata  # Timezone data

  #
  #  Editors
  #
  - mg  # microscopic EMACS style editor
  - nano  # Enhanced clone of the Pico text editor
  - vim  # advanced text editor, with GUI

  #
  #  Remote
  #
  - mosh  # Mobile shell surviving disconnects with local echo and line editing
  - openssh-server  # Port of OpenBSD's free SSH release

  #
  #  Web Tools
  #
  - curl  # URL retrieval utility and library
  - wget  # Network utility to retrieve files from the Web
  - w3m  # text-based web & gopher browser, as well as pager
  # - elinks  # Advanced and well-established feature-rich text mode web browser
  # - lynx  # Cross-platform text-based browser

  #
  #  System info
  #
  # atop - doesn't work on iSH
  # btop - doesn't work on iSH
  # glances - doesn't work on iSH
  - htop  # Interactive process viewer
  - ncdu  # Text-based disk usage viewer

  #
  #  Scripting
  #
  - python-pip  # Installs both Python3 and all that is needed for pip
  - sqlite  # Popular minimal sql engine

  #
  #  Terminal / session management
  #
  - tmux  # Tool to control multiple terminals from a single terminal
  - dvtm  # Dynamic virtual terminal manager

  #
  #  Services
  #
  # - dcron  # dillon's lightweight cron daemon
  # - dcron-openrc  # dillon's lightweight cron daemon (OpenRC init scripts)
  - openrc  # OpenRC manages the services, startup and shutdown of a host

  #
  #  Trust
  #
  - ca-certificates  # Common CA certificates PEM files from Mozilla
