---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  internal variables - not intended to be changed in order to custoomize the deploy
#

# debian_reboot_if_needed: false

vers_ift: 0.8.26

# shouldn't be needed when it is set in inventory...
# ansible_python_interpreter: /usr/bin/python3

repo_name: https://github.com/jaclu/ish-fstools.git
repo_branch: main

d_repo: /opt/ish-fstools
d_etc_ift: /etc/opt/ift

# Where is this role on dest platform
# Used for much faster installs of files, compared
# to transfer from deploy host
d_repo_alpine_role: "{{ d_repo }}/roles/alpine"
d_repo_debian_role: "{{ d_repo }}/roles/debian"

d_init_d: /etc/init.d
d_init_ift: "{{ d_init_d }}/ish-fstools_services"
d_init_not: "{{ d_init_d }}/services-excluded-on-purpose"

f_app_ift_launcher: /usr/local/sbin/ift-launcher
f_app_ift_config: /usr/local/bin/config-ift

# wait_for_hosts_to_be_ready: false

#
#  This disables the wait for the host to be responsive
#  mostly useful for Vagrant nodes just after creation
#
# check_connection: false

#
#  Apps that are needed during deploy, always installed, regardless of package selection
#
crucial_apps:
  - sudo
  - git
  - rsync
  - bash
  - tar # busybox tar is just too limited, and often fails for unarchive

#
#  I have tried to put the equivalent in ansible.cfg
#  but so far it never took effect. Avoiding host keys is
#  most useful when dealing with vagrant nodes that change
#  often. For iSH node it might not be needed, but since
#  they would normally only be accessed locally, it should
#  most likely not be an issue.
#
ansible_ssh_common_args: -o StrictHostKeyChecking=no
  -o UserKnownHostsFile=/dev/null

# if remote username does not match username on deploy host
ansible_user: root

# Default, will be overridden on cmd-line
target_hosts: servers

ift_debian_purges: []
