---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Install selected Alpine apps
#

- name: Install selected packages
  include_tasks: tasks/handle_apk.yml
  vars:
    apk_add: "{{ ift_alpine_packages }}"
    apk_del: >-
      {{
        (['ansible'] if is_ish else [])
        + (['docs'] if not (ift_pkgs_man | default(false)) else [])
      }}
  when: ift_alpine_packages | default([]) | length > 0

- name: "Install old IP# able mtr 0.92-a"
  shell:
    cmd: |
      set -u
      if command -v mtr ; then
          [ "$(mtr -v)" = "mtr 0.91.1-4c982" ] && {
              exit 0 # correct "old" version installed
          }
          # Remove incorrect version
          apk del mtr || exit 30
      fi
      #
      #  Download and install specific older mtr
      #
      d_tmp="$(mktemp -d)" || exit 31
      cd "$d_tmp" || exit 32
      url_prefix="https://dl-cdn.alpinelinux.org/alpine/v3.10/main/x86"
      wget "$url_prefix"/mtr-0.92-r0.apk || exit 33
      wget "$url_prefix"/mtr-doc-0.92-r0.apk || exit 34
      apk add mtr-0.92-r0.apk mtr-doc-0.92-r0.apk || exit 35
      rm -rf "$d_tmp" || exit 36
      exit 43
  args:
    executable: /bin/sh
  when:
    # - ansible_distribution_version is version('3.20', '>=')
    - ift_alpine_use_old_mtr
  register: alpine_old_mtr
  changed_when: alpine_old_mtr.rc == 43
  failed_when: alpine_old_mtr.rc not in [0, 43]

- name: Ensure /usr/bin/uptime is symlink to /bin/busybox
  # The procps uptime throws Segmentation fault on iSH
  # but the package is generally useful, providing a better ps
  shell:
    cmd: |
      if [ ! -L /usr/bin/uptime ] || \
        [ "$(readlink -f /usr/bin/uptime)" != "/bin/busybox" ]; then
          if [ -e /usr/bin/uptime ]; then
              rm -f /usr/bin/uptime.ORG # only remove .ORG if it will be replaced
              mv -f /usr/bin/uptime /usr/bin/uptime.ORG || exit 30
          fi
          ln -sf /bin/busybox /usr/bin/uptime || exit 31
          exit 43
      fi
  args:
    executable: /bin/sh
  register: alpine_rename_uptime
  changed_when: alpine_rename_uptime.rc == 43
  failed_when: alpine_rename_uptime.rc not in [0, 43]

#
# The following are Alpine specific, located here to avoid having to split new and
# old style file copying more than once
#
- name: Install custom /etc/init.d/sshd, supporting iSH logging
  copy:
    remote_src: true
    src: "{{ d_repo_alpine_role }}/files/etc/init.d/sshd"
    dest: "{{ d_init_ift }}/sshd"
    owner: root
    group: root
    mode: "0755"

- name: Deploy /etc/inittab
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/etc/inittab"
    dest: /etc/

- name: Install extras to /usr/local/bin
  copy:
    remote_src: true
    mode: preserve
    src: "{{ d_repo_alpine_role }}/files/usr_local_bin/"
    dest: /usr/local/bin/
