---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Role: Alpine main task
#

- name: Run apps_alpine
  import_tasks: apps_alpine.yml
