---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Role: Alpine main task
#

- name: Remove iSH Ansible auto repository updater
  file:
    path: /ish
    state: absent
  when: ansible_facts.os_family == 'Alpine'

- name: "Add the Alpine testing repo if at least v{{ ift_alpine_testing_repo_minv }}"
  lineinfile:
    path: /etc/apk/repositories
    line: "https://dl-cdn.alpinelinux.org/alpine/edge/testing"
    insertafter: EOF
  when:
    - ansible_facts.os_family == 'Alpine'
    - ansible_facts.distribution_version is version(ift_alpine_testing_repo_minv, '>=')

- name: Run apps_alpine
  import_tasks: apps_alpine.yml

- name: Generate sshd host keys
  command: ssh-keygen -A
  changed_when: false
  when: ift_alpine_generate_sshd_host_keys | default(false) | bool
