---
#
#  Part of https://github.com/jaclu/ish-fstools
#
#  Copyright (c) 2025-2026: Jacob.Lundqvist@gmail.com
#
#  License: MIT
#
#  Handlers
#

#
#  Restart runbg
#
- name: When chrooted - fake restart runbg
  debug:
    msg: "Simulating service restart -->->   runbg   <-<--"
  changed_when: true
  when: not (is_ish | bool)
  listen: Restart runbg

- name: Restart via OpenRC - runbg
  service:
    name: runbg
    state: restarted
  when:
    - openrc_softlevel.stat.exists
    - is_ish | bool
  listen: Restart runbg

#
#  Restart sshd
#
- name: When chrooted - fake restart sshd
  debug:
    msg: "Simulating service restart -->->   sshd   <-<--"
  changed_when: true
  when: not (is_ish | bool)
  listen: Restart sshd

- name: Restart via OpenRC - sshd
  service:
    name: sshd
    state: restarted
  when:
    - is_ish | bool
    - openrc_softlevel.stat.exists
  listen: Restart sshd
